:root {
    --bg-primary : #0a192f;
    --bg-secondary : #f5fbef;
    --bg-third: #112240;
    --border-primary: #374151;
    --text-primary: #9ca3af;
    --text-alternative : #545050;
    --header-background : #0a192fcc;
    --shadow: #00000033;
    --color-secondary: #38a3a5;
    --dark-red: #ff101f;
    --red: #ff3a20;
    --mobile-hover:#1f2937;
    --card-hover:#ff3a2026;
    --form-color: #10b981;
}